version: '3.5'

services:

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    ports:
      - 443:443
    volumes:
      - wordpress_data:/var/www/html
    restart: always
    networks:
      - network

  mariadb:
    container_name: mariadb
    build: 
      context: ./requirements/mariadb
      args:
        - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        

    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - network
    restart: always
    env_file:
      - .env

  wordpress:
    container_name: wordpress
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress
      args:
        - WP_DOMAIN=${WP_DOMAIN}
        - WP_ADMIN_USERNAME=${WP_ADMIN_USERNAME}
        - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
        - WP_ADMIN_PASSWORD=${WP_ADMIN_PASSWORD}
        - WP_TITLE=${WP_TITLE}
    restart: always
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - network

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/fhassoun/data/mariadb
      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/fhassoun/data/wordpress
      o: bind

networks:
  network: {}
   # driver: bridge